<% content_for :content do %>
    <div class="container mt-4" id="users-container">
        <h1 class="text-center">users home page</h1>
        <%= render 'flash' %>
        <%= yield %>
    </div>
<% end %>


<%= render template: "layouts/application" %>
